<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png"/>

    <img class="path" src="assets/img/path4.png"/>

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-4 col-md-4 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="https://avatars1.githubusercontent.com/u/41587092?s=460&u=bfed09c2f733b89c07e85739b6bdaaaaa6288149&v=4"
              />

              <h4 class="title">Tornike Goshadze</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Personal Info">

                </tab>
                <tab heading="Social"></tab>
              </tabset>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <tabset
            class="nav-tabs-danger tab-subcategories"
          >
            <tab heading="Posts">
              <app-posts [source]="source"></app-posts>
            </tab>
            <tab heading="Comments">

            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>

</div>
