@model CommentDto

@{
    if (string.IsNullOrEmpty(Model.ParentId))
    {
        ViewData["Title"] = "Create Comment";
        <h3>Create Comment</h3>
    }
    else
    {
        ViewData["Title"] = "Reply to Comment";
        <h3>Reply to Comment - @Model.ParentId</h3>
    }
}


<hr/>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" asp-controller="Comments" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AuthorId" class="form-control" value="@ViewData["UserId"]"/>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
            <input type="hidden" asp-for="ParentId" class="form-control"/>
            <span asp-validation-for="ParentId" class="text-danger"></span>
            <input type="hidden" asp-for="PostId" class="form-control" value="@ViewData["PostId"]"/>
            <span asp-validation-for="PostId" class="text-danger"></span>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Posts" asp-route-id="@ViewData["PostId"]">Back to Post</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}