@using Violetum.ApplicationCore.ViewModels.Follower
@model Violetum.ApplicationCore.ViewModels.Follower.UserFollowersViewModel

<h3>@Model.UserId's Followers</h3>

@foreach (FollowerViewModel follower in Model.Followers)
{
    <div class="card">
        <h5 class="card-header">
            <a asp-action="Index" asp-controller="Profile" asp-route-id="@follower.FollowerUser.Id">@follower.FollowerUser.UserName</a>
        </h5>
    </div>
}